/* imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Medium-Regular.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Medium-Italic.otf") format("otf");
  font-weight: 500;
  font-style: oblique;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Ligth-Regular.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Ligth-Italic.otf") format("otf");
  font-weight: 300;
  font-style: oblique;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Bold-Regular.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Bold-Italic.otf") format("otf");
  font-weight: 700;
  font-style: oblique;
}
@-webkit-keyframes blink {
  50% {
    border: none;
  }
}
@keyframes blink {
  50% {
    border: none;
  }
}
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background: #282a36;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 15px;
  }
}
/* Logo */
.brand {
  font-size: 3.2rem;
  font-family: "Operator";
  font-style: oblique;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  color: #bd93f9;
}
.brand span {
  color: #f8f8f2;
}
.brand strong {
  color: #50fa7b;
}

@media (max-width: 768px) {
  .brand {
    font-size: 3rem;
    margin-left: 15px;
  }
}
/* navigation */
.navigation {
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 100%;
  height: 55px;
  background: #1f212a;
  justify-content: center;
}
.navigation .wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navigation_menu {
  display: flex;
  flex: 1;
  height: 55px;
  justify-content: flex-end;
  align-items: center;
}
.navigation_list {
  list-style: none;
}
.navigation_item {
  display: inline-flex;
}
.navigation_link {
  color: #f8f8f2;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}
.navigation_link:hover {
  color: #f1fa8c;
}
.navigation_checkbox, .navigation_button {
  display: none;
}

@media (max-width: 768px) {
  .navigation {
    position: relative;
    padding-top: 15px;
  }
  .navigation .wrapper {
    justify-content: space-between;
  }
  .navigation_list {
    background: #1f212a;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    padding-top: 7.5rem;
    height: 0rem;
    overflow: hidden;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
  }
  .navigation_button {
    display: flex;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .navigation_icon {
    position: relative;
  }
  .navigation_icon, .navigation_icon::before, .navigation_icon::after {
    width: 2.5rem;
    height: 2px;
    background: #f8f8f2;
    display: inline-flex;
  }
  .navigation_icon::before, .navigation_icon::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }
  .navigation_icon::before {
    top: -0.8rem;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }
  .navigation_icon::after {
    top: 0.8rem;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }
  .navigation_checkbox:checked + .navigation_button {
    transform: rotate(-180deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  .navigation_checkbox:checked + .navigation_button .navigation_icon {
    background-color: transparent;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }
  .navigation_checkbox:checked + .navigation_button .navigation_icon::before {
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }
  .navigation_checkbox:checked + .navigation_button .navigation_icon::after {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
  }
  .navigation_checkbox:checked ~ .navigation_list {
    height: 25rem;
  }
  .navigation_item {
    font-size: 2.5rem;
  }
}
@-webkit-keyframes blink {
  50% {
    border: none;
  }
}
@keyframes blink {
  50% {
    border: none;
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15rem solid #f8f8f2;
  }
  100% {
    border: none;
  }
}
@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  99.9% {
    opacity: 1;
    border-right: 0.15rem solid #f8f8f2;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes typing2 {
  0% {
    width: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes typing2 {
  0% {
    width: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  background: #ff5555;
}

.terminal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: calc(500px/ 1.5);
  background: rgba(40, 42, 54, 0.9);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.terminal_header {
  display: flex;
  width: 100%;
  height: 25px;
  background: #21232d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 5px;
}
.terminal_header_button {
  display: block;
  width: 13px;
  height: 13px;
  margin: 5px 0 0 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.terminal_header .btRed {
  background: #ff5555;
}
.terminal_header .btOrange {
  background: #ffb86c;
}
.terminal_header .btGreen {
  background: #50fa7b;
}
.terminal_body {
  color: #f8f8f2;
  padding: 10px;
}
.terminal_body .green {
  color: #50fa7b;
}
.terminal_body .yellow {
  color: #f1fa8c;
}
.terminal_body .pink {
  color: #ff79c6;
}
.terminal_body p {
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15rem solid #f8f8f2;
}
.terminal_body p:nth-child(1) {
  width: 30rem;
  animation: typing 3s steps(38);
  -webkit-animation: typing 3s steps(38);
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.terminal_body p:nth-child(2) {
  width: 2rem;
  opacity: 0;
  animation: typing2 0.5s steps(2) 3s 1 normal, blink 1s infinite both;
  -webkit-animation: typing2 0.5s steps(2) 3s 1 normal, blink 1s infinite both;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0 15px;
  }

  .terminal {
    height: calc(500px/ 2);
  }
}

/*# sourceMappingURL=styles.css.map */
