/* Logo */
.brand {
  font-size: 3.2rem;
  font-family: $base-font-display;
  font-style: oblique;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  -o-font-feature-settings: "liga";
  color: $cPurple;
  span {
    color: $cForeground;
  }
  strong {
    color: $cGreen;
  }
}
@media (max-width: 768px) {
  .brand {
    font-size: 3rem;
    margin-left: 15px;
  }
}
