@import "../mixin/base";

.contact {
  @include defaultSectionRules();
  background: $cForeground;

  &_talk,
  &_mail {
    flex: 1 !important;
  }

  &_talk {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    padding-right: 2rem;
    &_form {
      padding-left: 1rem;

      &_group {
        &_control,
        &_textArea {
          width: 100%;
          font-size: 1.6rem;
          padding-left: 1rem;
          margin-bottom: 1rem;
          border: 1px solid rgba($cBackground, 0.7);
          border-radius: 0.3rem;
          -webkit-border-radius: 0.3rem;
          -moz-border-radius: 0.3rem;
          -ms-border-radius: 0.3rem;
          -o-border-radius: 0.3rem;
          &:focus {
            border-color: rgba($cRed, 0.7);
            outline: 0;
            outline-offset: unset;
          }
        }
        &_label {
          display: flex;
          margin-top: 0.5rem;
          margin-left: 1rem;
          font-size: 1.8rem;
          font-family: $base-font-display;
          font-style: oblique;
        }

        &_control {
          height: 3.5rem;
        }

        &_textArea {
          margin-top: 0.5rem;
          height: 15rem;
          resize: vertical;
        }
      }
      &_send_button {
        display: flex;
        flex: 1;
        justify-content: flex-end;

        &_style {
          display: flex;
          width: 10rem;
          height: 3rem;
          justify-content: center;
          align-items: center;
          border: none;
          background: $cRed;
          color: $cForeground;
          cursor: pointer;
          border-radius: 0.3rem;
          -webkit-border-radius: 0.3rem;
          -moz-border-radius: 0.3rem;
          -ms-border-radius: 0.3rem;
          -o-border-radius: 0.3rem;
          outline-offset: 0;
          outline: 0;
          &:hover {
            box-shadow: -0.2rem 0.2rem 0.3rem rgba($cBackground, 0.6);
            background: darken($cRed, 3);
            transition: background 0.5s, box-shadow 0.5s;
            -webkit-transition: background 0.5s, box-shadow 0.5s;
            -moz-transition: background 0.5s, box-shadow 0.5s;
            -ms-transition: background 0.5s, box-shadow 0.5s;
            -o-transition: background 0.5s, box-shadow 0.5s;
          }
        }
      }
    }
  }

  &_mail {
    &_email,
    .social_links {
      padding-left: 1rem;
    }
    &_email {
      display: flex;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      font-size: 2.5rem;
      font-family: $base-font-display;
      font-style: oblique;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    &_talk,
    &_mail {
      width: 100%;
    }
    &_talk {
      &_form {
        &_send_button {
          &_style {
            flex: 1;
          }
        }
      }
    }
    &_mail {
      margin-top: 2rem;
      &_email,
      .social_links {
        padding-left: 0;
      }
    }
    .wrapper {
      @include defaultSectionRulesMobile();
    }
  }
}
