@import "../mixin/base";
@import "../mixin/skills";

.services {
  @include defaultSectionRules();
  background: $cForeground;
  &_myServices {
    width: 50%;
    margin-bottom: 3rem;
    padding-right: 2rem;

    &_service {
      margin-bottom: 2rem;
      margin-top: 1rem;
      &:first-of-type {
        margin-top: 2.5rem;
      }

      &_title {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        color: lighten($cBackground, 10);
        letter-spacing: 1px;
        img {
          margin-right: 1rem;
        }
      }

      &_text {
        margin-top: 1rem;
      }
    }
  }
  &_skills {
    width: 50%;

    &_text {
      margin-top: 3rem;
    }

    &_text,
    &_list {
      padding-left: 1rem;
    }
    &_list {
      margin-top: 2rem;
      list-style: none;

      &_item {
        display: flex;
        flex-direction: column;
        background: rgba($cBackground, 0.1);
        margin-bottom: 1rem;
        width: 100%;
        height: 2.5rem;
        overflow: hidden;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &_text {
          display: flex;
          align-items: center;
          background: $cOrange;
          height: 100%;
          padding-left: 1.5rem;
          color: $cForeground;
          @include skillAmout(100%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    &_myServices,
    &_skills {
      width: 100%;
    }
    &_myServices {
      &_service {
        padding-left: 1rem;
        width: 100%;
      }
    }
    .wrapper {
      @include defaultSectionRulesMobile();
    }
  }
}
