@import "../mixin/base";
@import "../mixin/skills";

.services {
  @include defaultSectionRules();
  background: $cForeground;
  &_myServices {
    width: 50%;
    margin-bottom: 3rem;
    padding-right: 2rem;

    &_service {
      margin-bottom: 2rem;
      margin-top: 1rem;
      display: flex;
      &:first-of-type {
        margin-top: 2.5rem;
      }

      &_img {
        margin-right: 1rem;
      }

      &_content {
        margin-top: 0.5rem;
        &_title {
          display: flex;
          align-items: center;
          font-size: 2.2rem;
          color: lighten($cBackground, 10);
          letter-spacing: 1px;
        }

        &_text {
          margin-top: 1rem;
        }
      }
    }
  }
  &_skills {
    width: 50%;

    &_text {
      margin-top: 3rem;
    }

    &_text,
    &_list {
      padding-left: 1rem;
    }
    &_list {
      margin-top: 2rem;
      list-style: none;

      &_item {
        position: relative;
        display: flex;
        flex-direction: column;
        background: rgba($cBackground, 0.1);
        margin-bottom: 1rem;
        width: 100%;
        height: 2rem;
        overflow: hidden;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &:nth-of-type(1) {
          @include skillAmout(100%, 1s, 1); /*-- html --*/
        }
        &:nth-of-type(2) {
          @include skillAmout(90%, 1s, 2); /*-- GIT --*/
        }
        &:nth-of-type(3) {
          @include skillAmout(85%, 1s, 3); /*-- Sass --*/
        }
        &:nth-of-type(4) {
          @include skillAmout(85%, 1s, 4); /*-- Bootstrap --*/
        }
        &:nth-of-type(5) {
          @include skillAmout(85%, 1s, 5); /*-- MySql --*/
        }
        &:nth-of-type(6) {
          @include skillAmout(75%, 1s, 6); /*-- PHP --*/
        }
        &:nth-of-type(7) {
          @include skillAmout(75%, 1s, 7); /*-- API Rest --*/
        }
        &:nth-of-type(8) {
          @include skillAmout(70%, 1s, 8); /*-- React --*/
        }
        &:nth-of-type(9) {
          @include skillAmout(70%, 1s, 9); /*-- UX --*/
        }
        &:nth-of-type(10) {
          @include skillAmout(50%, 1s, 10); /*-- Scrum --*/
        }

        &_text {
          display: flex;
          align-items: center;
          background: $cOrange;
          width: 100%;
          height: 100%;
          padding-left: 1.5rem;
          color: $cForeground;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    &_myServices,
    &_skills {
      width: 100%;
    }
    &_myServices {
      &_service {
        padding-left: 1rem;
        width: 100%;
      }
    }
    .wrapper {
      @include defaultSectionRulesMobile();
    }
  }
}
