.social_links {
  display: flex;
  a {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  img {
    width: 4rem;
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  .social_links {
    justify-content: center;
    a {
      opacity: 1;
    }
    img {
      width: 4rem;
      margin-right: 2rem;
    }
  }
}
