@import "../variables/typography";
@import "../variables/colors";
@import "../animations/blink";

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}
body {
  font-family: $base-font-sans-serif;
  font-size: 1.6rem;
  background: $cBackground;
  -webkit-font-smoothing: antialiased;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 15px;
  }
}
