//typography

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Medium-Regular.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Medium-Italic.otf") format("otf");
  font-weight: 500;
  font-style: oblique;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Ligth-Regular.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Ligth-Italic.otf") format("otf");
  font-weight: 300;
  font-style: oblique;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Bold-Regular.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Operator";
  src: url("./fonts/Operator-Bold-Italic.otf") format("otf");
  font-weight: 700;
  font-style: oblique;
}
