@mixin skillAmout($amout, $delay, $nChild) {
  width: $amout;
  animation: scaleWidth_#{$nChild} 1s ease-out $delay 1 normal;
  -webkit-animation: scaleWidth_#{$nChild} 1s ease-out $delay 1 normal;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;

  @keyframes scaleWidth_#{$nChild} {
    0% {
      width: 0;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: $amout;
    }
  }

  @-webkit-keyframes scaleWidth_#{$nChild} {
    0% {
      width: 0;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      width: $amout;
    }
  }
}
