@keyframes typing {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15rem solid $cForeground;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
  99.9% {
    opacity: 1;
    border-right: 0.15rem solid $cForeground;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes typing2 {
  0% {
    width: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
